In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("datasets/nba.csv")
df

In [ ]:
df["Salary"].sum()

In [ ]:
df.groupby("Position").groups

In [ ]:
df.groupby(["Team","College"]).groups

In [ ]:
dict(df.groupby("Position").groups)

In [ ]:
for name, group in df.groupby("Team"):
    print(name)
    print(group)

In [ ]:
for name, group in df.groupby(["Team","Position"]):
    print(name)
    print(group)

In [ ]:
df.groupby("College").get_group("Stanford")

In [ ]:
df.groupby("College").sum()

In [ ]:
df.groupby("College")["Number","Age","Weight","Salary"].sum()

In [ ]:
df.groupby("College")["Number"].sum()

In [ ]:
df.groupby("College")["Number"].get_group("Stanford").sum()

In [ ]:
df.groupby("College")["Number"].sum()

In [ ]:
df.groupby("College")["Number"].count()

In [ ]:
df.groupby("College")["Number"].mean()

In [ ]:
df.groupby("College")["Number"].max()

In [ ]:
df.groupby("College")["Number"].min()

In [ ]:
df.groupby("College")["Number"].agg(np.mean)

In [ ]:
df.groupby("College")["Number"].agg([np.mean,np.sum])

In [ ]:
df.groupby("College")["Number"].agg([np.mean,np.sum]).loc["Alabama"]