In [1]:
import numpy as np
import pandas as pd

In [2]:
#help(pd.DataFrame())
#dir(pd.DataFrame())

In [3]:
# öncesinde 15 satır 7 sütunluk bir dizi oluşturuyoruz örnek bir dizi
arr = np.random.randint(-50,50,105).reshape(15,7)

# daha sonra bu diziyi data frame aktarıyoruz
# not data frameler 2 boyutludur
sr = pd.DataFrame(arr)
sr

     0   1   2   3   4   5   6
0    8 -34  19   9  45 -21 -25
1   -7   4 -20  -6  39   5 -31
2  -11  13  35 -24 -44  27   8
3   22   9   9  42 -49 -13  29
4   10 -27  46  14 -40  27 -36
5  -22  19 -27  28 -28  28 -22
6    0 -49  38  49  32 -43 -12
7  -50 -27  41 -41 -43  40  29
8  -11  41 -21 -15  -1 -30  28
9   42  -9  49  19  22  42  14
10 -37  11  15  -5 -27  42 -35
11  22  18  -4  23 -11  37 -45
12  39   5  36  11 -14  10  46
13  44  21  -2 -21  42  22  -5
14  49 -17  -2  19  26 -47  16

In [4]:
# örnek dataframe oluşturma
# burada belli koşullar içerisinde (verinin şekli ile indexler ve kolonların sayısı uyuşacak) istediğimiz gibi 
# satır indexlerinin ve sütun yani kolon isimlerini verebiliriz
frame = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'] , index=["x","y","z"])
frame

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [5]:
# Çarpım Tablosu
sayilar = [1,2,3,4,5,6,7,8,9,10]
data= []
data2= [[],[],[],[],[],[],[],[],[],[]]

for i in range(1,11):
    for j in range(1,11):
        data.append(i*j)
    
for k in range(10):
    y = k*10
    data2[k] = data[y:y+10]
    

frame = pd.DataFrame(data2, index=sayilar, columns = sayilar)
frame

    1   2   3   4   5   6   7   8   9    10
1    1   2   3   4   5   6   7   8   9   10
2    2   4   6   8  10  12  14  16  18   20
3    3   6   9  12  15  18  21  24  27   30
4    4   8  12  16  20  24  28  32  36   40
5    5  10  15  20  25  30  35  40  45   50
6    6  12  18  24  30  36  42  48  54   60
7    7  14  21  28  35  42  49  56  63   70
8    8  16  24  32  40  48  56  64  72   80
9    9  18  27  36  45  54  63  72  81   90
10  10  20  30  40  50  60  70  80  90  100

In [6]:
# data frame in boyutunu bulma 2dir
frame.ndim

2

In [7]:
# frame in şekli
frame.shape

(10, 10)

In [16]:
# frame in en büyük değeri sutunlara göre
frame.max()

1      10
2      20
3      30
4      40
5      50
6      60
7      70
8      80
9      90
10    100
dtype: int64

In [9]:
# bütün data frame nin en büyük değeri
frame.max().max()

100

In [10]:
# frame in en küçük değeri sutunlara göre
frame.min()

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [11]:
# bütün data frame nin en küçük değeri
frame.min().min()

1

In [12]:
# frame in sütunların toplam değerleri
frame.sum()

1      55
2     110
3     165
4     220
5     275
6     330
7     385
8     440
9     495
10    550
dtype: int64

In [13]:
# bütün data frame nin toplamı
frame.sum().sum()

3025

In [14]:
# her sütunun ortalama değeri
frame.mean()

1      5.5
2     11.0
3     16.5
4     22.0
5     27.5
6     33.0
7     38.5
8     44.0
9     49.5
10    55.0
dtype: float64

In [15]:
# fram# bütün data frame in ortalama değeri
frame.mean().mean()

30.25