In [18]:
import numpy as np
import pandas as pd

In [19]:
arr = np.array([np.random.randint(-20,20,5),np.random.randint(-20,20,5),np.random.randint(-20,20,5)])

df = pd.DataFrame(arr, index=["A","B","C"], columns= ["sütun1","sütun2","sütun3","sütun4","sütun5"])
df

   sütun1  sütun2  sütun3  sütun4  sütun5
A     -16      10      -7      13     -10
B      18      19      16       6      12
C      -5      12       9      12      10

In [23]:
df["sütun1"]

A   -16
B    18
C    -5
Name: sütun1, dtype: int32

In [26]:
type(df["sütun1"])

pandas.core.series.Series

In [30]:
df[["sütun1","sütun5"]]

   sütun1  sütun5
A     -16     -10
B      18      12
C      -5      10

In [33]:
df.loc["A"]

sütun1   -16
sütun2    10
sütun3    -7
sütun4    13
sütun5   -10
Name: A, dtype: int32

In [36]:
df.loc[["A","B"]]

   sütun1  sütun2  sütun3  sütun4  sütun5
A     -16      10      -7      13     -10
B      18      19      16       6      12

In [37]:
type(df.loc["A"])

pandas.core.series.Series

In [49]:
df.loc["B","sütun2"]

19

In [50]:
df.loc["B",["sütun2","sütun3"]]

sütun2    19
sütun3    16
Name: B, dtype: int32

In [51]:
df.loc[["B","C"],["sütun2","sütun3"]]

   sütun2  sütun3
B      19      16
C      12       9

In [53]:
df.loc[:,"sütun1"]

A   -16
B    18
C    -5
Name: sütun1, dtype: int32

In [54]:
df.loc[:,["sütun1","sütun5"]]

   sütun1  sütun5
A     -16     -10
B      18      12
C      -5      10

In [59]:
df.loc[:,"sütun2":"sütun4"]

   sütun2  sütun3  sütun4
A      10      -7      13
B      19      16       6
C      12       9      12

In [60]:
df.loc[:,:"sütun3"]

   sütun1  sütun2  sütun3
A     -16      10      -7
B      18      19      16
C      -5      12       9