In [22]:
import pandas as pd
import numpy as np

In [40]:
arr = np.random.randint(-50,50,5) # -50 ile 50 arasında rastgele 5 tane sayıdan oluşan dizi oluştur
seria = pd.Series(arr,index=[1,2,3,4,5]) # arr dizisine göre seri tanımlama
seria

1    -4
2   -35
3   -46
4   -32
5    35
dtype: int32

In [24]:
seria.ndim # serinin boyutu

1

In [25]:
seria.dtype # serinin veri tipi int,float,str,object vb.

dtype('int32')

In [26]:
seria.shape # serinin şekli framelerde daha yrıntılı incelenecek

(5,)

In [27]:
seria.max() # serinin maxsimum değeri

48

In [28]:
seria.min() # serinin minimum değeri

-47

In [29]:
seria.sum() # serinin toplamı

-17

In [30]:
seria.mean()  # serinin ortalaması

-3.4

In [31]:
seria.argmax()  # serinin max değerinin yeri

2

In [32]:
seria.argmin() # serinin min değerinin yeri

1

#

In [49]:
arr1 = np.random.randint(-20,20,5)
arr2 = np.random.randint(-20,20,5)
arr1.sort()
arr2.sort() # diziler küçükten büyüğe sıralanıyor daha güzel gözüksün diye yaptım

print("Numpy Dizileri: \n",arr1, "\n\n" , arr2)

seria1 = pd.Series(arr1)
seria2 = pd.Series(arr2)

print("\nPandas Serileri: \n",seria1, "\n\n" , seria2)

Numpy Dizileri:
 [-19 -17 -12 -12   0]

 [-13  -6   2   6   6]

Pandas Serileri:
 0   -19
1   -17
2   -12
3   -12
4     0
dtype: int32

 0   -13
1    -6
2     2
3     6
4     6
dtype: int32

In [51]:
# Pandas ile matematik işlemleri + - * /
print(seria1 + seria2,"\n")
print(seria1 - seria2,"\n")
print(seria1 + 10,"\n")
print(seria1 * seria2,"\n")
print(seria1 * 10,"\n")
print(seria1 / seria2,"\n")
print(seria1 / 10,"\n")

0   -32
1   -23
2   -10
3    -6
4     6
dtype: int32

0    -6
1   -11
2   -14
3   -18
4    -6
dtype: int32

0    -9
1    -7
2    -2
3    -2
4    10
dtype: int32

0    247
1    102
2    -24
3    -72
4      0
dtype: int32

0   -190
1   -170
2   -120
3   -120
4      0
dtype: int32

0    1.461538
1    2.833333
2   -6.000000
3   -2.000000
4    0.000000
dtype: float64

0   -1.9
1   -1.7
2   -1.2
3   -1.2
4    0.0
dtype: float64

In [55]:
# pandas filtreleme
newarr = np.random.randint(-50,50,20)
newseria = pd.Series(newarr) 

newseria[newseria%2 == 0] # seri içerisindeki bütün çift sayıları gösterir

0     37
2      2
3     22
6     39
11    16
12    37
13     8
14    26
15    20
17    46
19    34
dtype: int32