In [3]:
import numpy as np
import pandas as pd

In [4]:
arr1 = np.random.randint(-20,20,5)
arr2 = np.random.randint(-20,20,5)
arr1.sort()
arr2.sort() # diziler küçükten büyüğe sıralanıyor

print("Numpy Dizileri: \n",arr1, "\n\n" , arr2)

seria1 = pd.Series(arr1)
seria2 = pd.Series(arr2)

print("\nPandas Serileri: \n",seria1, "\n\n" , seria2)

Numpy Dizileri:
 [-14   1   2  13  17]

 [-13  -7  -1   0   5]

Pandas Serileri:
 0   -14
1     1
2     2
3    13
4    17
dtype: int32

 0   -13
1    -7
2    -1
3     0
4     5
dtype: int32

In [49]:
#help(pd.DataFrame())
#dir(pd.DataFrame())

In [44]:
data = dict(sütun1 = seria1, sütun2 = seria2)

frame = pd.DataFrame(data)
frame

   sütun1  sütun2
0     -14     -13
1       1      -7
2       2      -1
3      13       0
4      17       5

In [58]:
arr = np.array([np.random.randint(-20,20,5),np.random.randint(-20,20,5),np.random.randint(-20,20,5)])

print(arr,"\n")
pd.DataFrame(arr)

[[  5 -12  -9 -16  14]
 [-10 -17  -5  18  -2]
 [  6  -8  13   7  -7]]

    0   1   2   3   4
0   5 -12  -9 -16  14
1 -10 -17  -5  18  -2
2   6  -8  13   7  -7

In [60]:
frame = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'] , index=["x","y","z"])
frame

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9

In [109]:
# Çarpım Tablosu
sayilar = [1,2,3,4,5,6,7,8,9,10]
data= []
data2= [[],[],[],[],[],[],[],[],[],[]]

for i in range(1,11):
    for j in range(1,11):
        data.append(i*j)
    
for k in range(10):
    y = k*10
    data2[k] = data[y:y+10]
    

frame = pd.DataFrame(data2, index=sayilar, columns = sayilar)
frame

    1   2   3   4   5   6   7   8   9    10
1    1   2   3   4   5   6   7   8   9   10
2    2   4   6   8  10  12  14  16  18   20
3    3   6   9  12  15  18  21  24  27   30
4    4   8  12  16  20  24  28  32  36   40
5    5  10  15  20  25  30  35  40  45   50
6    6  12  18  24  30  36  42  48  54   60
7    7  14  21  28  35  42  49  56  63   70
8    8  16  24  32  40  48  56  64  72   80
9    9  18  27  36  45  54  63  72  81   90
10  10  20  30  40  50  60  70  80  90  100

In [113]:
frame.ndim

2

In [114]:
frame.shape

(10, 10)

In [127]:
frame.max()

1      10
2      20
3      30
4      40
5      50
6      60
7      70
8      80
9      90
10    100
dtype: int64

In [139]:
frame.max().max()

100

In [120]:
frame.min()

1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [138]:
frame.min().min()

1

In [128]:
frame.sum()

1      55
2     110
3     165
4     220
5     275
6     330
7     385
8     440
9     495
10    550
dtype: int64

In [129]:
frame.sum().sum()

3025

In [137]:
frame.mean()

1      5.5
2     11.0
3     16.5
4     22.0
5     27.5
6     33.0
7     38.5
8     44.0
9     49.5
10    55.0
dtype: float64

In [136]:
frame.mean().mean()

30.25