In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.random.randint(-20,20,25).reshape(5,5)

# örnek pandas dataframe oluşturuyoruz
df = pd.DataFrame(data, index=["A","B","C","D","E"], columns= ["sütun1","sütun2","sütun3","sütun4","sütun5"])
df

   sütun1  sütun2  sütun3  sütun4  sütun5
A     -18       1      -4       9     -13
B     -19      12      19       5       8
C      17      17      -6      12       4
D      19     -10      10     -14     -14
E      13       8     -13      15       6

In [3]:
df["sütun1"] # Sütunlara göre arama

A   -18
B   -19
C    17
D    19
E    13
Name: sütun1, dtype: int32

In [4]:
type(df["sütun1"])

pandas.core.series.Series

In [5]:
df[["sütun1","sütun5"]] # iki sütun arası arama

   sütun1  sütun5
A     -18     -13
B     -19       8
C      17       4
D      19     -14
E      13       6

In [6]:
df.loc["A"] # satıra göre arama fakat index verdiysek indexlerimize göre arar

sütun1   -18
sütun2     1
sütun3    -4
sütun4     9
sütun5   -13
Name: A, dtype: int32

In [7]:
df.loc[["A","B"]] # iki satır arası arama

   sütun1  sütun2  sütun3  sütun4  sütun5
A     -18       1      -4       9     -13
B     -19      12      19       5       8

In [8]:
type(df.loc["A"])

pandas.core.series.Series

In [9]:
df.loc["B","sütun2"] # loc metodunu hem atır hemde sütun aramalarında kullanılabilir

12

In [10]:
df.loc["B",["sütun2","sütun3"]] # 2. ve 3. sütunun b satırı

sütun2    12
sütun3    19
Name: B, dtype: int32

In [11]:
df.loc[["B","C"],["sütun2","sütun3"]] # 2. ve 3. sütunun b ve c satırı

   sütun2  sütun3
B      12      19
C      17      -6

In [12]:
df.loc[:,"sütun1"] # 1. sütunun tüm satırları

A   -18
B   -19
C    17
D    19
E    13
Name: sütun1, dtype: int32

In [13]:
df.loc[:,["sütun1","sütun5"]] # 1. ve 5. sütunun tüm satırları

   sütun1  sütun5
A     -18     -13
B     -19       8
C      17       4
D      19     -14
E      13       6

In [14]:
df.loc[:,"sütun2":"sütun4"] # 2. ve 4. sütun arasındaki tüm satırları

   sütun2  sütun3  sütun4
A       1      -4       9
B      12      19       5
C      17      -6      12
D     -10      10     -14
E       8     -13      15

In [15]:
df.loc[:,:"sütun3"] # 3. sütundan önceki sütunların tüm satırları

   sütun1  sütun2  sütun3
A     -18       1      -4
B     -19      12      19
C      17      17      -6
D      19     -10      10
E      13       8     -13

In [16]:
df.loc["B":"C",["sütun1","sütun5"]] # 1, ve 5. sütunlarin b ve c arasındaki satırları

   sütun1  sütun5
B     -19       8
C      17       4

In [17]:
df.iloc[2] # eğer indexse göre istersek iloc methodunu kulllanıyoruz

sütun1    17
sütun2    17
sütun3    -6
sütun4    12
sütun5     4
Name: C, dtype: int32

In [18]:
df.iloc[1:4] # 1 ile 4 arasındaki satırları getirir

   sütun1  sütun2  sütun3  sütun4  sütun5
B     -19      12      19       5       8
C      17      17      -6      12       4
D      19     -10      10     -14     -14

In [19]:
df["sütun6"] = pd.Series(np.random.randint(-20,20,5), ["A","B","C","D","E"]) # yeni sütun ekleme
df

   sütun1  sütun2  sütun3  sütun4  sütun5  sütun6
A     -18       1      -4       9     -13      13
B     -19      12      19       5       8     -15
C      17      17      -6      12       4      -3
D      19     -10      10     -14     -14       6
E      13       8     -13      15       6       9

In [20]:
df["sütun 5+6"] = df["sütun5"] + df["sütun6"] # 2 sütunu toplama ve yeni sütuna yazma
df

   sütun1  sütun2  sütun3  sütun4  sütun5  sütun6  sütun 5+6
A     -18       1      -4       9     -13      13          0
B     -19      12      19       5       8     -15         -7
C      17      17      -6      12       4      -3          1
D      19     -10      10     -14     -14       6         -8
E      13       8     -13      15       6       9         15

In [21]:
df.drop("sütun4", axis=1) # sütun silme

   sütun1  sütun2  sütun3  sütun5  sütun6  sütun 5+6
A     -18       1      -4     -13      13          0
B     -19      12      19       8     -15         -7
C      17      17      -6       4      -3          1
D      19     -10      10     -14       6         -8
E      13       8     -13       6       9         15

In [22]:
df.drop("C", axis=0) # satır silme

   sütun1  sütun2  sütun3  sütun4  sütun5  sütun6  sütun 5+6
A     -18       1      -4       9     -13      13          0
B     -19      12      19       5       8     -15         -7
D      19     -10      10     -14     -14       6         -8
E      13       8     -13      15       6       9         15

In [23]:
df.loc[len(df.index)] = [-16,-12,-11,-4,18,16,34] # satır ekleme
df

   sütun1  sütun2  sütun3  sütun4  sütun5  sütun6  sütun 5+6
A     -18       1      -4       9     -13      13          0
B     -19      12      19       5       8     -15         -7
C      17      17      -6      12       4      -3          1
D      19     -10      10     -14     -14       6         -8
E      13       8     -13      15       6       9         15
5     -16     -12     -11      -4      18      16         34